p {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  color: rgb(19, 87, 87);
}
input {
  display:block;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

label {
  width: 100%;
  display:inline-block;
  margin-bottom:8px;
  /* padding: 12px; */
  /* margin-bottom: 15px; */
}

.names {
  display: flex;
  gap: 10px;
}

button[type='submit'] {
  background-color: var(--primary);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

button[type='submit']:hover {
  opacity: 1;
}

form {
  padding: 20px 40px;
  width: 600px;
  border-radius: 25px;
  box-shadow: 1px 2px 5px grey;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .names {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
