:root {
    --primary: #0c5de9;
    --secondary: #bcc8d4;
    --success : rgba(23, 83, 11, 0.8);
    --danger: rgba(215, 41, 41, 0.822);
}

.header {
    position: fixed;
    background: white;
    box-shadow:2px 1px 3px grey;
}

.header>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width : 200px;
}

button {
    cursor: pointer;
}

.header ul li {
    list-style-type: none;
}

.header  .buttons {
    display:flex;
    flex-direction : column;
    width:100%;
    gap:15px;
    margin:0 20px;
    margin-bottom:15px;
}
.header  .buttons div {
    width:100%;
    text-align: center;
}
.header  .buttons  div  button {
    width:90%;  
    border:0;
    padding:5px;
    border-radius:10px;
}

.header  .buttons  div  button:hover {
    box-shadow: 1px 2px 5px grey;
}

.header .buttons div:first-child button {
    background-color: var(--primary);
    color:white;
}

.header .buttons div:last-child button {
    background-color: var(--success);
    color:white;
}
* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    text-decoration: none;
    color: var(--primary);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body>div:nth-child(2) {
    flex-grow: 1;
}

.header>div>.gap {
    flex-grow: 1;
}

@media (max-width: 767px) {
    .header>div {
        height: 100vh;
    }
}

@media (min-width: 768px) {
    .header {
        position: relative;
    }

    .header>div {
        flex-direction: row;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {}


@media (min-width: 1024px) {}