#sidebar {
  width: 200px;
  border-right: 1px solid gray;
  position: fixed;
  background-color: aliceblue;
  height: 100vh;
}

#sidebar > div .nav {
  flex-grow: 1;
}

#sidebar > div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* admin header */
#admin-header {
  display: flex;
  justify-content: space-between;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 50%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
/*  */

.header {
  display: flex;
  flex-flow: row-reverse;
  box-shadow: 1px 1px 1px gray;
  padding: 20px 0px;
}

#sidebar div ul li a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  color: var(--primary);
}

#sidebar div ul li a:hover {
  color: white;
  background-color: var(--primary);
}

#sidebar #logo {
  height: 71.0833px;
}

#sidebar #logo div {
  padding: 0 20px;
}

#sidebar #logo h1 {
  height: 71.0833px;
  text-wrap: nowrap;
  overflow: hidden;
  padding: 10px 10px;
}

#body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: aliceblue;
}

#body > div:nth-child(2) {
  flex-grow: 1;
  padding: 20px 40px;
}

#toggleSidebar {
    margin-right:40px;
    padding:5px;
    cursor:pointer;
    border:0;
    color:#fff;
    padding:10px;
}


#toggleSidebar:hover {
    box-shadow: 1px 1px 5px grey;
}

.logoutDiv {
  text-align: center;
  margin-bottom: 20px;
}
.logoutDiv >button {
    background-color: #D9534F;
    border:0;
    color:white;
    padding:10px 0;
    width:100%;
    cursor:pointer;
}

.logoutDiv > button:hover {
  background-color: rgb(148, 35, 35);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.tableContainer {
  margin-top: 25px;
}

.tableContainer > table {
  margin: 0 auto;
  border-collapse: collapse;
}

.tableContainer > table th,
td {
  padding: 10px 20px;
}

.tableContainer >table > thead tr{
    background-color:var(--primaryShade2);
    color:#fff;
}
.odd {
    background-color:var(--primaryShade2);
    color:#fff;
}
.even {
    background-color: var(--primaryShade1);
    color :white;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 20px 40px;
  }

  #sidebar {
    width: 20%;
  }
  .open {
    width: 79.9%;
    margin-left: auto;
  }
  .close {
    width: 99.9%;
    margin-left: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 1024px) {
  .open {
    width: 84.9%;
    margin-left: auto;
  }
  .close {
    width: 99.9%;
    margin-left: auto;
  }
  #sidebar {
    width: 15%;
  }
}
